body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  background-color: #222;
  color: white;
  font-family: system-ui;
  font-size: 2rem;
  height: 100%;
  width: 100%;
  align-content: center;
  user-select: none;
}
